<%- include("../components/head.ejs") %>
    <%- include("../components/navbar.ejs") %>

        <!-- <div class="custom-container">
            <div class="d-flex">
                <div class="custom-desktop-sidebar bg-warning">
                    
                </div>
                <div class="flex-fill docs-main-content-container">
                    <p>Main content</p>
                </div>
            </div>
        </div> -->

        <div class="custom-container">
            <div class="container pt-5">
                <div class="row">

                    <!-- Resources -->
                    <div class="col-12 mb-5">
                        <h4 class="h4 mb-0">Resources</h4>
                        <p class="text-muted mb-4">There are 7 main resources need in store prototypes:</p>

                        <%for (var item in data.resources){%>
                            <div class="d-flex mb-2 ms-md-3 api-routes-list-box">
                                <div>
                                    <p class="fw-semibold mb-0" style="font-size: 16px !important;">
                                        <%=data.resources[item].title%>
                                    </p>
                                </div>

                                <div class="ms-auto">
                                    <a href="<%=data.root_url+data.resources[item].endpoint%>">
                                        <p class="text-break fw-semibold mb-0" style="font-size: 16px !important;">
                                            <%=data.resources[item].endpoint%>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <%}%>
                    </div>

                    <!-- API Routes -->
                    <div class="col-12 mb-5">
                        <h4 class="h4 mb-0">API Routes</h4>
                        <p class="text-muted mb-4">All HTTP methods are supported</p>

                        <div>
                            <%for (let i=0; i < data.api_routes.length; i++) {%>
                                <h5 class="h5 text-capitalize fw-bold mb-3">
                                    <%=Object.keys(data.api_routes[i])[0]%>
                                </h5>
                                <div class="mb-4">
                                    <% var element=data.api_routes[i][Object.keys(data.api_routes[i])[0]]%>
                                        <%for (let j=0; j < element.length; j++) {%>
                                            <div class="d-flex mb-2 ms-md-3 api-routes-list-box">
                                                <div style="width: 60px !important;">
                                                    <p class="fw-semibold mb-0" style="font-size: 15px !important;">
                                                        <%=element[j].method%>
                                                    </p>
                                                </div>
                                                <div>
                                                    <p class="me-2 mb-0" style="font-size: 15px !important;">
                                                        (<%=element[j].title%>)
                                                    </p>
                                                </div>
                                                <div class="ms-auto">
                                                    <a href="<%=data.root_url+element[j].endpoint%>">
                                                        <p class="text-break fw-semibold mb-0"
                                                            style="font-size: 16px !important;">
                                                            <%=element[j].endpoint%>
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                            <%}%>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../components/footer.ejs") %>
            <%- include("../components/end.ejs") %>