<%- include("../components/head.ejs") %>
    <%- include("../components/navbar.ejs") %>
        <div class="custom-container">
            <div class="container pt-5">
                <div class="row">

                    <!-- Resources -->
                    <div class="col-12 mb-5">
                        <h4 class="h4 mb-0">Resources</h4>
                        <p class="text-muted mb-4">There are 7 main resources need in store prototypes:</p>

                        <%for (var item in data.resources){%>
                            <div class="d-flex mb-2 ms-md-3 api-routes-list-box">
                                <div>
                                    <p class="fw-semibold mb-0" style="font-size: 16px !important;">
                                        <%=data.resources[item].title%>
                                    </p>
                                </div>

                                <div class="ms-auto root_resources">
                                    <a href="#<%=data.resources[item].title?.toLowerCase()%>">
                                        <p class="text-break fw-semibold mb-0" style="font-size: 16px !important;">
                                            <%=data.resources[item].endpoint%>
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <%}%>
                    </div>

                    <!-- API Routes -->
                    <div class="col-12 mb-5">
                        <h4 class="h4 mb-0">API Routes</h4>
                        <p class="text-muted mb-4">All HTTP methods are supported</p>

                        <div>
                            <%for (let i=0; i < data.api_routes.length; i++) {%>
                                <h5 id="<%=Object.keys(data.api_routes[i])[0]?.toLowerCase()%>" class="h5 text-capitalize fw-bold mb-3">
                                    <a class="nextSection me-1" href="#<%=Object.keys(data.api_routes[i+1]??data.api_routes[0])[0]%>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down mb-1" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                      </svg></a>
                                      <%=Object.keys(data.api_routes[i])[0]%>
                                </h5>
                                <div class="mb-4">
                                    <% var element=data.api_routes[i][Object.keys(data.api_routes[i])[0]]%>
                                        <%for (let j=0; j < element.length; j++) {%>
                                            <div class="d-flex mb-2 ms-md-3 api-routes-list-box">
                                                <div style="width: 60px !important;">
                                                    <p class="fw-semibold mb-0" style="font-size: 15px !important;">
                                                        <%=element[j].method%>
                                                    </p>
                                                </div>
                                                <div>
                                                    <p class="me-2 mb-0" style="font-size: 15px !important;">
                                                        (<%=element[j].title%>)
                                                    </p>
                                                </div>
                                                <div class="ms-auto">
                                                    <a href="<%=data.root_url+element[j].endpoint%>">
                                                        <p class="text-break fw-semibold mb-0"
                                                            style="font-size: 16px !important;">
                                                            <%=element[j].endpoint%>
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                            <%}%>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../components/footer.ejs") %>
            <%- include("../components/end.ejs") %>